{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Agestatus</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('webapp_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ageStatus }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
